@import 'src/styles/responsive.scss';

.topic-list-container {
  .topics-grid {
    display: grid;
    gap: 20px;
    margin-bottom: 4px;
    grid-template-columns: 1fr;
  }

  @include responsive-desktop {
    .topics-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
