@import "src/styles/responsive.scss";

.home-page {
  .login-buttons {
    display: flex;
    gap: 50px;
  }
  @include responsive-mobile {
    .login-buttons {
      flex-direction: column;
      gap: 20px;
    }
  }
}
