.topic-card {
  border-radius: 8px;
  background-color: var(--tertiary-color);
  box-shadow: 0 2px 4px color-mix(in hsl, var(--black-color), transparent 90%);;
  padding: 16px;
  transition: transform 0.2s ease;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px color-mix(in hsl, var(--black-color), transparent 80%);;
  }

  mat-card-title {
    font-size: 16px;
    font-weight: 700;
    color: var(--black-color);
  }

  mat-card-content {
    font-size: 14px;
    font-weight: 400;
    color: var(--black-color);
  }

  .topic-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
