@import './variables.scss';
@import './responsive.scss';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;


}

:root {
  --primary-color: #{$primary};
  --secondary-color: #{$secondary};
  --tertiary-color: #{$tertiary};
  --white-color: #{$white};
  --black-color: #{$black};
  --info-color: #{$info};
  --warning-color: #{$warning};
  --error-color: #{$error};
  --success-color: #{$success};
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

