$primary: hsl(252deg, 45.8%, 58.0%);   // PURPLE
$secondary: hsl(0deg, 0%, 57.6%);      // GREY
$tertiary: hsl(0deg, 0%, 96.1%);       // WHITE
$white: hsl(0deg, 0%, 100%);           // WHITE
$black: hsl(206deg, 21.1%, 14.9%);     // BLACK

$info: hsl(195deg, 94.6%, 63.7%);      // BLUE
$warning: hsl(48deg, 100%, 67.5%);     // YELLOW
$error: hsl(347deg, 82.6%, 63.9%);     // RED
$success: hsl(152deg, 90.9%, 47.6%);   // GREEN
